awscli
boto
boto3
botocore
bz2file
certifi
chardet
colorama
docutils
fire
flair
gensim
idna
jmespath
lxml
numpy
pyasn1
python-dateutil
PyYAML
regex
requests>=2.20.0
rsa
s3transfer
scipy
segtok
six
smart-open
torch
tqdm
typing
urllib3